html, body {
  overflow: hidden;
  height: 100%;
  background-color: #f5df4d;
}

.js-image {
 display: flex; 
 justify-content: center; 
 align-items: center;
 min-height: 100%;
}

.disabled {
  pointer-events: none;
}

.shake {
  animation: shake 200ms  infinite;
}

@keyframes shake {
 0%, 100% {
   transform: translateX(0);
 }
 20%, 60% {
   transform: translate(-1px, 2px) rotate(0.1deg);
 }
 30%, 70% {
   transform: translate(0.5px, 0.8px) rotate(0.5deg);
 }
 40%, 80% {
   transform: translate(0.8px, 0.5px) rotate(-0.2deg);
  }
}

.catFace-image {
  position: absolute;
  display: flex; 
  right: 0;
  bottom: -10px;
  min-height: 50%;
}

.catPaw-image {
  position: absolute;
  right: -40px;
  bottom: -50px;
  height: 213px;
  width: 606px;
}

.paw {
 display: inline-block;
 transform-origin: top right;
 animation: wave 2.9s infinite;
}
 
@keyframes wave {
 0% {
  transform: rotate(0deg);
 }
 50% {
  transform: rotate(8deg);
 }
  100% {
  transform: rotate(0deg);
}

}
